---
import { getCollection } from "astro:content"
import { sortPostsByDate } from "../lib/date"
import Link from "../components/Link.vue"
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import PostRow from "../components/PostRow.astro"

const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))
  .slice(0, 4)

  const projects = [
    {
      repo: "ai",
      description: "create images, videos and more with ai.",
      link: "https://ai-fawn-iota.vercel.app/dashboard"
    },
    {
      repo: "Real Estate",
      description: "List your properties.",
      link: "https://realtor-app-iota.vercel.app/"
    },
    {
      repo: "Coin Sight",
      description: "Track your coins.",
      link: "https://crypto-app-two-rust.vercel.app/"
    },
    {
      repo: "Others ⤴ ",
      description: "Github",
      link: "https://github.com/karthik5699?tab=repositories"
    }
  ]

const title = "katic • home"
---

<Base
  {title}
  description="Personal website and blog of Karthik Singh aka katic."
  image=""
>
  <h1 slot="header-content" class="text-neutral-600 dark:text-neutral-500">
    katic
  </h1>

   <main class="prose">
      <p>
        <small class="text-neutral-600 dark:text-neutral-500"
          >seeking the intimacy ➰ of being understood</small
        >
        <br />

        Hi there, I'm <strong>Karthik Singh</strong>, but on the internet, I usually go by <strong>katic</strong>. Here, I share my experiences, ideas, projects, and other fun things that I do in my life.
      </p>

      <p>
        I'm building <strong>Stoick</strong>, a research tool designed to help investors make more informed decisions in the <strong>stock market</strong>. If you're interested in collaborating, feel free to reach out to me on any of my socials below.
      </p>

      <div class="mt-12" />
      <h2>Projects</h2>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
        {projects.map(project => <Project {project} />)}
      </div>
      

      <div class="mt-12" />
      <h2>Blog</h2>

      <div class="flex flex-col gap-5">
        {posts.map(post => <PostRow {post} />)}

        <span>
          <Link href="/blog">
            All posts →
          </Link>
        </span>
      </div>
  </main>
</Base>
