---
import { getCollection } from "astro:content"
import PostPreview from "../../components/PostPreview.astro"
import { sortPostsByDate } from "../../lib/date"
import Base from "../../layouts/Base.astro"
import ReactMarkdown from "react-markdown";
import Links from '../../content/links/index.mdx'

const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))

const title = "katic • blog"
---

<Base
  {title}
  description="Writings on philosophy, personal finance and programming."
  image={`https://og.nxl.sh/home/?title=${title}`}
>
  <main class="prose">
    <h1>Blog</h1>
    <ReactMarkdown>
        <Links />
    </ReactMarkdown>
  </main>
</Base>
